{% extends 'portfolio/base.html' %} {%block content%} {% load static %}

<div class="container align-content-center">
  <br />
  <img src="{% static 'portfolio/full-isologo.png' %}" height="300"
  style="align-content: ;/>

  <div class="container">
    <div class="row row-cols-2">
      {% for project in projects %}

      <div class="col">
        <h2 class="text-light">{{ project.title }}</h2>

        <p class="text-white-50">{{ project.description }}</p>

        <img src="{{ project.image.url }}" height="300" />
        {% if project.url %}
        <br /><a href="{{ project.url }}">Link</a>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

{%endblock%}
